img{
    height: 10rem;
    width: auto;
    margin: 0 auto;
}
body{
    text-align: center;
    background-color: #BB2649;
    font-family: 'Poppins', sans-serif;}
h3{
    font-size: 16px;
}
.bordure{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 12px;
    margin-top: 75px;
}